<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Koleksi Manga</p>
<div class="row">
<div class="container-fluid">
  <div class="col-xs-12">
    <h4 style="margin-left:165px">Katalog Komik Manga</h4>
  <div class="list-group">
    <div class="container">
        <div class="list-group">
    <button type="button" class="list-group-item"><b>Manga Naruto</b>
    <div class="row">
      <img width="80" alt="" src="src/app/img/1.png" style="margin-left:1000px">
    </div>
  </button>
    <button type="button" class="list-group-item"><b>Manga Boruto</b>
    <div class="row">
      <img width="80" alt="" src="src/app/img/2.jpg" style="margin-left:1000px">
    </div>
  </button>
    <button type="button" class="list-group-item"><b>Manga OnePiece</b>
    <div class="row">
      <img width="80" alt="" src="src/app/img/3.jpg" style="margin-left:1000px">
    </div>
  </button>        
  </div>
</div>
</div>
</div>
</div>
</div>

    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Dimas Rizky Prasetya (NIM:1731710077) </a>
    </div>
  </div>
</nav> -->